<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Profile</title>
	<style type="text/css">
		header{
			background-image: url('images/header_background.jpg');
		}
	</style>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rochester" rel="stylesheet">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body class="container" ng-app="myApp" ng-controller="myCtrl">
	<header class="row">
		<section>
			<div class="col-md-2">
				<picture>
					<img class="img-responsive img-circle" src="images/badr.jpg" alt="badr shahin" title="Badr Shahin" id="logoImage">
				</picture>
			</div>
			<div class="col-md-10">
				<ul id="socialUl">
					<li ng-repeat="icon in socialIcons"><a class={{icon.class}} href={{icon.url}} target="_blank"></a></li>
				</ul>
				<h1 class="row col-md-10 text-capitalize" id="short_desc">hi! <br> i'm a front-end web developer.<br><span>html html5 css bootstrap javascript angularJs php-basic mySQL. </span></h1>
			</div>
			<div class="topnav col-md-12">
				<ul id="menuUl">
					<li ng-repeat="item in menuItems">
						<a href={{item.url}}>{{item.name}}</a>
					</li>
					<!--<li><a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a></li>-->
				</ul>
			</div>
		</section>
	</header>	
	<article class="row" id="hr">
		<hr>
	</article>
	<article class="row">
		<table id="table" style="text-align: left;">
			<th colspan="2"><p>Personal Information:</p></th>
			<tr ng-repeat="x in info">
				<td><p>{{x.info_desc}}</p></td>
				<td><p>{{x.info_value}}</p></td>
			</tr>
		</table>
	</article>
	<article class="row" id="hr">
		<hr>
	</article>
	<article class="row">
		<table id="table">
			<th colspan="2"><p>Education:</p></th>
			<tr ng-repeat="x in education">
				<td><p>{{x.school_name}}</p></td>
				<td>
					<p>{{x.school_name}}</p>
					<p>{{x.year}}</p>
					<p>{{x.content}}</p>
					<p>{{x.courses}}</p>
				</td>
			</tr>
		</table>
	</article>	
	<article class="row" id="hr">
		<hr>
	</article>
	<article class="row">
		<table id="table">
			<th colspan="2"><p>Experience:</p></th>
			<tr ng-repeat="x in experience ">
				<td colspan="2">
					<p ng-click="showDesc()">{{x.exper_desc}}</p>
					<p ng-show="showSkill"><span style="color: red">Skills: &nbsp;&nbsp;&nbsp; {{x.exper_skill}}</span></p>
				</td>
			</tr>
		</table>
	</article>	
</body>
</html>
