<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Profile</title>
	<style type="text/css">
		header, footer{
			background-image: url('images/header_background.jpg');
		}
		#contact{
			background-image: url('images/creative.jpg');
		}
		#navbar {
		 	top: -50px;
		 	width: 100%;
		  	display: block;
		  	position: fixed;
		  	transition: top 0.5s;
		  	background-color: #333;
		}

	</style>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rochester" rel="stylesheet">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body class="container" ng-app="myApp" ng-controller="myCtrl" id="portfolio" onscroll="myFunction()">
	<header class="row">
		<section>
			<div class="col-md-2">
				<picture>
					<img class="img-responsive img-circle" src="images/badr.jpg" alt="badr shahin" title="Badr Shahin" id="logoImage">
				</picture>
			</div>
			<div class="col-md-10">
				<ul id="socialUl">
					<li ng-repeat="icon in socialIcons"><a class={{icon.class}} href={{icon.url}} target="_blank"></a></li>
				</ul>
				<h1 class="row col-md-10 text-capitalize" id="short_desc">hi! <br> i'm a front-end web developer.<br><span>html html5 css bootstrap javascript angularJs php-basic mySQL. </span></h1>
			</div>
			<div class="topnav col-md-12" id="navbar">
				<ul id="menuUl">
					<li ng-repeat="item in menuItems">
						<a href={{item.url}}>{{item.name}}</a>
					</li>
					<!--<li><a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a></li>-->
				</ul>
			</div>
		</section>
	</header>	
	<article class="row" id="hr">
		<hr>
	</article>
	<article class="row" id="about">
		<table id="table" style="text-align: left;" id="about">
			<th colspan="2"><p>Personal Information:</p></th>
			<tr ng-repeat="x in info">
				<td><p>{{x.info_desc}}</p></td>
				<td><p>{{x.info_value}}</p></td>
			</tr>
		</table>
	</article>
	<article class="row" id="hr">
		<hr>
	</article>
	<article class="row">
		<table id="table">
			<th colspan="2"><p>Education:</p></th>
			<tr ng-repeat="x in education">
				<td><p>{{x.school_name}}</p></td>
				<td>
					<p>{{x.school_name}}</p>
					<p>{{x.year}}</p>
					<p>{{x.content}}</p>
					<p>{{x.courses}}</p>
				</td>
			</tr>
		</table>
	</article>	
	<article class="row" id="hr">
		<hr>
	</article>
	<article class="row" id="experience">
		<table id="table">
			<th colspan="2"><p>Experience:</p></th>
			<tr ng-repeat="x in experience ">
				<td colspan="2">
					<p ng-click="showDesc()" title="Click me to see more Information">{{x.exper_desc}}</p>
					<p ng-show="showSkill"><span style="color: red">Skills: &nbsp;&nbsp;&nbsp; {{x.exper_skill}}</span></p>
				</td>
			</tr>
		</table>
	</article>	
	<article class="row" id="hr">
		<hr>
	</article>
	<article class="row" id="interest">
		<section>
			<p id="interestHead">Interests:</p>
			<p>Now I’m more interesting in improving my skills in Web Development (Front-End web development and Back-End web development).</p>
			<div>
				<picture>
					<img id="front_end_image" class="img-responsive img-rounded" src="images/Front-End Web Developer.png" alt="Front-End Web Developer Certificate." width="40%" height="40%" style="padding: 2% 0">
				</picture>
			</div>
		</section>
	</article>
	<article class="row" id="hr">
		<hr>
	</article>
	<article class="row" id="work">
		<p id="workHead">Work:</p>
		<p>I have designed some simple website from PSD images or from my mind.</p>
		<section>
			<table id="table">
				<tr ng-repeat="x in works">
					<td class="row col-md-6">
						<div id="workDiv">
							<a href={{x.url}} target="_blank"><img class="img-responsive img-rounded" src={{x.imageSrc}} alt={{x.name}} title={{x.name}}></a>
							<div id="websiteName"><a href={{x.url}} target="_blank" style="text-decoration: none;"><h3 title={{x.name}}>{{x.name}}</h3></a></div>
						</div>
					</td>
					<!-- <td class="row col-md-5" style="text-align: left;  padding: 10px 15% 10px 0;">
						<div id="workDiv">
							<h3>{{x.name}}</h3>
							<a href={{x.url}} target="_blank" style="text-decoration: none;">{{x.url}}</a>
						</div>
					</td> -->
				</tr>
			</table>
		</section>
	</article>
	<article class="row" id="hr">
		<hr>
	</article>
	<article class="row" id="contact">
		<section>
			<br><p>Contact Me:</p>
			<form>
				<div class="col-md-4">
					<input class="col-md-12" type="text" name="name" ng-model="name" placeholder="Name" required>
				</div>
				<div class="col-md-4">
					<input class="col-md-12" type="email" name="email" ng-model="email" placeholder="Email" required>
				</div>
				<div class="col-md-4">
					<input class="col-md-12" type="tel" name="phone" ng-model="phone" placeholder="Phone" required>
				</div>
				<div class="col-md-12">
					<textarea class="col-md-12" name="message" ng-model="msg" placeholder="Message" rows="6" required></textarea>
				</div>
				<div class="col-md-12" >
					<input class="col-md-1" id="submit" type="submit" name="submit" ng-model="submit" value="SEND">
				</div>
			</form>
		</section>
	</article>
	<article class="row" id="hr">
		<hr>
	</article>
	<footer class="row" id="footer">
		<p class="col-md-12">Badr Shahin</p>
		<div>
			<p>&copy; All rights reserved, Badr Shahin 2017-2018.</p>
			<ul id="socialUl">
				<li ng-repeat="icon in socialIcons"><a class={{icon.class}} href={{icon.url}} target="_blank"></a></li>
			</ul>
		</div>
	</footer>
	<script>
	// When the user scrolls down 20px from the top of the document, slide down the navbar
	window.onscroll = function() {scrollFunction()};

	function scrollFunction() {
	    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
	        document.getElementById("navbar").style.top = "0";
	    } else {
	        document.getElementById("navbar").style.top = "-50px";
	    }
	}
	</script>
</body>
</html>
